nav.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;
  letter-spacing: 0.05rem;
  background-color: antiquewhite;
  padding: 0.8rem 1rem;
  color: blueviolet;
}

#site-header > nav > section.navbar-dashboard {
  list-style: none;
  text-decoration: none;
  align-self: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: aqua;
}

nav.navbar ul {
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0;
}

nav.navbar ul li {
  display: block;
  list-style: none outside;
  position: relative;
}

nav.navbar ul li a {
  display: block;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

.button:hover, 
nav.navbar ul li a:hover,
nav.navbar ul li:hover > a {
  background: yellow;
  color: brown;
  font-weight: bold;
}

.dashboard nav {
  background: transparent;
}

.navbar-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.navbar .first-bar {
  display: flex;
  align-items: center;
}

.navbar .first-bar a {
  color: rgb(10, 40, 66);
  margin-right: 0.5rem;
}
